domain=''
ip=''
mysqlrootpass=''
mysqldbname=''
mysqlphpmyuser=''
mysqlphpmypass=''
mysqldbuser=''
mysqldbpass=''
mongodbname=''
mongodbadminuser=''
mongodbadminpass=''
mongodbuser=''
mongodbpass=''
ldapadminpass=''
ldapdc1=''
ldapdc2=''
ldapdc3=''
hiasbchuser=''
hiasbchpass=''
hiasbchchain=''
hiasbchpermissions=''
hiasbchpermissionst=''
hiasbchintegrity=''
hiasbchintegrityt=''
sambaorguser=''
sambaorgpass=''
sambadevuser=''
sambadevpass=''
sambapersonaluser=''
sambaperonalpass=''
enckey=''